html, body {
    margin: 0;
    padding: 0;
}

.genres {
    display: flex;
    color: white;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px; 
    flex-grow: 1; 
}

.action {
    background-color: dodgerblue;
}

.thriller {
    background-color: orange;
    flex-grow: 10;
}

.comedy {
    background-color: rgb(255, 214, 30);
    flex-grow: 10;
}

.horror {
    background-color: black;
}

.drama {
    background-color: purple;
}

.romance {
    background-color: red;
}